.login-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    border: 1px solid red;
}

.row{
    display: flex;
}